{
  "openapi": "3.0.1",
  "info": {
    "title": "ZHIPU AI API",
    "description": "ZHIPU AI 接口提供强大的 AI 能力，包括聊天对话、工具调用和视频生成。",
    "license": {
      "name": "ZHIPU AI 开发者协议和政策",
      "url": "https://chat.z.ai/legal-agreement/terms-of-service"
    },
    "version": "1.0.0",
    "contact": {
      "name": "Z.AI 开发者",
      "url": "https://chat.z.ai/legal-agreement/privacy-policy",
      "email": "user_feedback@z.ai"
    }
  },
  "tags": [
    {
      "name": "模型 API",
      "description": "Chat API"
    },
    {
      "name": "工具 API",
      "description": "Web Search API"
    },
    {
      "name": "Agent API",
      "description": "Agent API"
    },
    {
      "name": "文件 API",
      "description": "File API"
    },
    {
      "name": "知识库 API",
      "description": "Knowledge API"
    },
    {
      "name": "实时 API",
      "description": "Realtime API"
    },
    {
      "name": "批处理 API",
      "description": "Batch API"
    },
    {
      "name": "助理 API",
      "description": "Assistant API"
    },
    {
      "name": "智能体 API（旧）",
      "description": "QingLiu Agent API"
    }
  ],
  "servers": [
    {
      "url": "https://open.bigmodel.cn/api/",
      "description": "开放平台服务"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/paas/v4/chat/completions": {
      "post": {
        "tags": [
          "模型 API"
        ],
        "summary": "对话补全",
        "description": "和 [指定模型](/cn/guide/start/model-overview) 对话，模型根据请求给出响应。支持多种模型，支持多模态（文本、图片、音频、视频、文件），流式和非流式输出，可配置采样，温度，最大令牌数，工具调用等。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "文本模型",
                    "$ref": "#/components/schemas/ChatCompletionTextRequest"
                  },
                  {
                    "title": "视觉模型",
                    "$ref": "#/components/schemas/ChatCompletionVisionRequest"
                  },
                  {
                    "title": "音频模型",
                    "$ref": "#/components/schemas/ChatCompletionAudioRequest"
                  },
                  {
                    "title": "角色模型",
                    "$ref": "#/components/schemas/ChatCompletionHumanOidRequest"
                  }
                ]
              },
              "examples": {
                "基础调用示例": {
                  "value": {
                    "model": "glm-5.2",
                    "messages": [
                      {
                        "role": "system",
                        "content": "你是编程助手，擅长写简洁高效的代码。"
                      },
                      {
                        "role": "user",
                        "content": "写一个 Python 函数，计算斐波那契数列第 n 项。"
                      }
                    ],
                    "temperature": 1,
                    "stream": false
                  }
                },
                "流式调用示例": {
                  "value": {
                    "model": "glm-5.2",
                    "messages": [
                      {
                        "role": "user",
                        "content": "请写一个Python函数，计算两个数的和。"
                      }
                    ],
                    "temperature": 1,
                    "stream": true
                  }
                },
                "深度思考示例": {
                  "value": {
                    "model": "glm-5.2",
                    "messages": [
                      {
                        "role": "user",
                        "content": "请写一个Python函数，计算两个数的和。"
                      }
                    ],
                    "thinking": {
                      "type": "enabled"
                    },
                    "stream": true
                  }
                },
                "多轮对话示例": {
                  "value": {
                    "model": "glm-5.2",
                    "messages": [
                      {
                        "role": "system",
                        "content": "你是一个专业的编程助手"
                      },
                      {
                        "role": "user",
                        "content": "什么是递归？"
                      },
                      {
                        "role": "assistant",
                        "content": "递归是一种编程技术，函数调用自身来解决问题..."
                      },
                      {
                        "role": "user",
                        "content": "能给我一个 Python 递归的例子吗？"
                      }
                    ],
                    "stream": true
                  }
                },
                "图片理解示例": {
                  "value": {
                    "model": "glm-5v-turbo",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://cdn.bigmodel.cn/static/logo/register.png"
                            }
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://cdn.bigmodel.cn/static/logo/api-key.png"
                            }
                          },
                          {
                            "type": "text",
                            "text": "What are the pics talk about"
                          }
                        ]
                      }
                    ]
                  }
                },
                "视频理解示例": {
                  "value": {
                    "model": "glm-5v-turbo",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "video_url",
                            "video_url": {
                              "url": "https://cdn.bigmodel.cn/agent-demos/lark/113123.mov"
                            }
                          },
                          {
                            "type": "text",
                            "text": "What are the video show about?"
                          }
                        ]
                      }
                    ]
                  }
                },
                "文件理解示例": {
                  "value": {
                    "model": "glm-5v-turbo",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "file_url",
                            "file_url": {
                              "url": "https://cdn.bigmodel.cn/static/demo/demo2.txt"
                            }
                          },
                          {
                            "type": "file_url",
                            "file_url": {
                              "url": "https://cdn.bigmodel.cn/static/demo/demo1.pdf"
                            }
                          },
                          {
                            "type": "text",
                            "text": "What are the files show about?"
                          }
                        ]
                      }
                    ]
                  }
                },
                "音频对话示例": {
                  "value": {
                    "model": "glm-4-voice",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "你好，这是我的语音输入测试，请慢速复述一遍"
                          },
                          {
                            "type": "input_audio",
                            "input_audio": {
                              "data": "base64_voice_xxx",
                              "format": "wav"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "Function Call 示例": {
                  "value": {
                    "model": "glm-5.2",
                    "messages": [
                      {
                        "role": "user",
                        "content": "今天北京的天气怎么样？"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_weather",
                          "description": "获取指定城市的天气信息",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string",
                                "description": "城市名称"
                              }
                            },
                            "required": [
                              "city"
                            ]
                          }
                        }
                      }
                    ],
                    "tool_choice": "auto",
                    "temperature": 0.3
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionChunk"
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/async/chat/completions": {
      "post": {
        "tags": [
          "模型 API"
        ],
        "summary": "对话补全(异步)",
        "description": "和 [指定模型](/cn/guide/start/model-overview) 对话，通过查询异步结果获取模型响应。支持多种模型，支持多模态（文本、图片、音频、视频、文件），可配置采样，温度，最大令牌数，工具调用等。注意此为异步接口，通过 [查询异步结果](/api-reference/%E6%A8%A1%E5%9E%8B-api/%E6%9F%A5%E8%AF%A2%E5%BC%82%E6%AD%A5%E7%BB%93%E6%9E%9C) 获取生成结果。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "文本模型",
                    "$ref": "#/components/schemas/AsyncChatCompletionTextRequest"
                  },
                  {
                    "title": "视觉模型",
                    "$ref": "#/components/schemas/AsyncChatCompletionVisionRequest"
                  },
                  {
                    "title": "音频模型",
                    "$ref": "#/components/schemas/AsyncChatCompletionAudioRequest"
                  },
                  {
                    "title": "角色模型",
                    "$ref": "#/components/schemas/AsyncChatCompletionHumanOidRequest"
                  }
                ]
              },
              "examples": {
                "基础调用示例": {
                  "value": {
                    "model": "glm-5.2",
                    "messages": [
                      {
                        "role": "system",
                        "content": "你是编程助手，擅长写简洁高效的代码。"
                      },
                      {
                        "role": "user",
                        "content": "写一个 Python 函数，计算斐波那契数列第 n 项。"
                      }
                    ],
                    "temperature": 1
                  }
                },
                "深度思考示例": {
                  "value": {
                    "model": "glm-5.2",
                    "messages": [
                      {
                        "role": "user",
                        "content": "写一个 Python 函数，计算斐波那契数列第 n 项。"
                      }
                    ],
                    "thinking": {
                      "type": "enabled"
                    }
                  }
                },
                "多轮对话示例": {
                  "value": {
                    "model": "glm-5.2",
                    "messages": [
                      {
                        "role": "system",
                        "content": "你是一个专业的编程助手"
                      },
                      {
                        "role": "user",
                        "content": "什么是递归？"
                      },
                      {
                        "role": "assistant",
                        "content": "递归是一种编程技术，函数调用自身来解决问题..."
                      },
                      {
                        "role": "user",
                        "content": "能给我一个 Python 递归的例子吗？"
                      }
                    ]
                  }
                },
                "图片理解示例": {
                  "value": {
                    "model": "glm-5v-turbo",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://cdn.bigmodel.cn/static/logo/register.png"
                            }
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://cdn.bigmodel.cn/static/logo/api-key.png"
                            }
                          },
                          {
                            "type": "text",
                            "text": "What are the pics talk about?"
                          }
                        ]
                      }
                    ]
                  }
                },
                "视频理解示例": {
                  "value": {
                    "model": "glm-5v-turbo",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "video_url",
                            "video_url": {
                              "url": "https://cdn.bigmodel.cn/agent-demos/lark/113123.mov"
                            }
                          },
                          {
                            "type": "text",
                            "text": "What are the video show about?"
                          }
                        ]
                      }
                    ]
                  }
                },
                "文件理解示例": {
                  "value": {
                    "model": "glm-5v-turbo",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "file_url",
                            "file_url": {
                              "url": "https://cdn.bigmodel.cn/static/demo/demo2.txt"
                            }
                          },
                          {
                            "type": "file_url",
                            "file_url": {
                              "url": "https://cdn.bigmodel.cn/static/demo/demo1.pdf"
                            }
                          },
                          {
                            "type": "text",
                            "text": "What are the files show about?"
                          }
                        ]
                      }
                    ]
                  }
                },
                "音频对话示例": {
                  "value": {
                    "model": "glm-4-voice",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "你好，这是我的语音输入测试，请慢速复述一遍"
                          },
                          {
                            "type": "input_audio",
                            "input_audio": {
                              "data": "base64_voice_xxx",
                              "format": "wav"
                            }
                          }
                        ]
                      }
                    ]
                  }
                },
                "Function Call 示例": {
                  "value": {
                    "model": "glm-5.2",
                    "messages": [
                      {
                        "role": "user",
                        "content": "今天北京的天气怎么样？"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_weather",
                          "description": "获取指定城市的天气信息",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string",
                                "description": "城市名称"
                              }
                            },
                            "required": [
                              "city"
                            ]
                          }
                        }
                      }
                    ],
                    "tool_choice": "auto",
                    "temperature": 0.3
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/videos/generations": {
      "post": {
        "tags": [
          "模型 API"
        ],
        "summary": "视频生成(异步)",
        "description": "通过调用 [视频模型](/cn/guide/models/video-generation/cogvideox-3) 能力生成视频内容。支持多种视频生成方式，包括文本转视频、图像转视频等。注意此为异步接口，通过 [查询异步结果](/api-reference/%E6%A8%A1%E5%9E%8B-api/%E6%9F%A5%E8%AF%A2%E5%BC%82%E6%AD%A5%E7%BB%93%E6%9E%9C) 获取生成视频结果。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "CogVideoX-3",
                    "$ref": "#/components/schemas/CogVideoX3Request"
                  },
                  {
                    "title": "CogVideoX",
                    "$ref": "#/components/schemas/CogVideoXRequest"
                  },
                  {
                    "title": "Vidu: Text to Video",
                    "$ref": "#/components/schemas/ViduText2VideoRequest"
                  },
                  {
                    "title": "Vidu: Image to Video",
                    "$ref": "#/components/schemas/ViduImage2VideoRequest"
                  },
                  {
                    "title": "Vidu: First & Last Frame to Video",
                    "$ref": "#/components/schemas/ViduFrames2VideoRequest"
                  },
                  {
                    "title": "Vidu: Ref to Video",
                    "$ref": "#/components/schemas/ViduReference2VideoRequest"
                  }
                ]
              },
              "examples": {
                "文生视频示例": {
                  "value": {
                    "model": "cogvideox-3",
                    "prompt": "A cat is playing with a ball.",
                    "quality": "quality",
                    "with_audio": true,
                    "size": "1920x1080",
                    "fps": 30
                  }
                },
                "图生视频示例": {
                  "value": {
                    "model": "cogvideox-3",
                    "image_url": "https://img.iplaysoft.com/wp-content/uploads/2019/free-images/free_stock_photo.jpg",
                    "prompt": "让画面动起来",
                    "quality": "quality",
                    "with_audio": true,
                    "size": "1920x1080",
                    "fps": 30
                  }
                },
                "首尾帧生示例": {
                  "value": {
                    "model": "cogvideox-3",
                    "image_url": [
                      "https://cdn.bigmodel.cn/markdown/1752547801491cogvideo4.png",
                      "https://cdn.bigmodel.cn/markdown/1752547813297cogvideo5.png"
                    ],
                    "prompt": "让画面动起来",
                    "quality": "quality",
                    "with_audio": true,
                    "size": "1920x1080",
                    "fps": 30
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/async/images/generations": {
      "post": {
        "tags": [
          "模型 API"
        ],
        "summary": "图像生成(异步)",
        "description": "使用 [GLM-Image](/cn/guide/models/image-generation/glm-image) 系列模型从文本提示生成高质量图像。通过对用户文字描述快速、精准的理解，让 `AI` 的图像表达更加精确和个性化。仅支持 `GLM-Image` 模型。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncCreateImageRequest"
              },
              "examples": {
                "图像生成示例": {
                  "value": {
                    "model": "glm-image",
                    "prompt": "一只可爱的小猫咪，坐在阳光明媚的窗台上，背景是蓝天白云.",
                    "size": "1280x1280"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/async-result/{id}": {
      "get": {
        "tags": [
          "模型 API"
        ],
        "summary": "查询异步结果",
        "description": "查询对话补全和视频生成异步请求的处理结果和状态。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "任务 ID。"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "对话补全",
                      "$ref": "#/components/schemas/ChatCompletionResponse"
                    },
                    {
                      "title": "视频生成",
                      "$ref": "#/components/schemas/AsyncVideoGenerationResponse"
                    },
                    {
                      "title": "图像生成",
                      "$ref": "#/components/schemas/AsyncImageGenerationResponse"
                    }
                  ]
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionChunk"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/images/generations": {
      "post": {
        "tags": [
          "模型 API"
        ],
        "summary": "图像生成",
        "description": "使用 [GLM-Image](/cn/guide/models/image-generation/glm-image) 等系列模型从文本提示生成高质量图像。通过对用户文字描述快速、精准的理解，让 `AI` 的图像表达更加精确和个性化。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateImageRequest"
              },
              "examples": {
                "图像生成示例": {
                  "value": {
                    "model": "glm-image",
                    "prompt": "一只可爱的小猫咪，坐在阳光明媚的窗台上，背景是蓝天白云.",
                    "size": "1280x1280"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/audio/transcriptions": {
      "post": {
        "tags": [
          "模型 API"
        ],
        "summary": "语音转文本",
        "description": "使用 [GLM-ASR-2512](/cn/guide/models/sound-and-video/glm-asr-2512) 模型将音频文件转录为文本，支持多语言和实时流式转录。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AudioTranscriptionRequest"
              },
              "example": {
                "model": "glm-asr-2512",
                "stream": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioTranscriptionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AudioTranscriptionStreamResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/audio/speech": {
      "post": {
        "tags": [
          "模型 API"
        ],
        "summary": "文本转语音",
        "description": "使用 `GLM-TTS` 将文本转换为自然语音，支持多种声音、情感控制和语调调整。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudioSpeechRequest"
              },
              "examples": {
                "文本转语音示例": {
                  "value": {
                    "model": "glm-tts",
                    "input": "你好，今天天气怎么样.",
                    "voice": "tongtong",
                    "response_format": "wav"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功 \n - 采样率建议设置为24000",
            "content": {
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/voice/clone": {
      "post": {
        "tags": [
          "模型 API"
        ],
        "summary": "音色复刻",
        "description": "使用音色复刻技术，基于示例音频生成指定音色、文本内容的语音合成。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceCloneRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceCloneResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/voice/list": {
      "get": {
        "tags": [
          "模型 API"
        ],
        "summary": "音色列表",
        "description": "获取音色列表，支持按音色名称模糊搜索、按音色类型过滤。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "voiceName",
            "in": "query",
            "description": "音色名称, 如果传入中文, 需要 url encode",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "voiceType",
            "in": "query",
            "description": "音色类型",
            "schema": {
              "type": "string",
              "enum": [
                "PRIVATE",
                "OFFICIAL"
              ]
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceListResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/voice/delete": {
      "post": {
        "tags": [
          "模型 API"
        ],
        "summary": "删除音色",
        "description": "删除指定的音色。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceSaveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceSaveResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/embeddings": {
      "post": {
        "tags": [
          "模型 API"
        ],
        "summary": "文本嵌入",
        "description": "使用 [GLM Embedding](/cn/guide/models/embedding/embedding-3) 系列模型将文本转换为高维向量表示，用于语义相似性和搜索。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingCreateRequest"
              },
              "examples": {
                "文本嵌入示例": {
                  "value": {
                    "model": "embedding-3",
                    "input": "你好，今天天气怎么样.",
                    "dimensions": 2
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/rerank": {
      "post": {
        "tags": [
          "模型 API"
        ],
        "summary": "文本重排序",
        "description": "`Rerank` 用于文本重排序，通过接收用户的查询文本及候选文本列表，使用模型计算候选文本与查询文本的相关性得分并返回分数。适用于智能问答、信息检索等场景。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerankRequest"
              },
              "examples": {
                "文本重排序示例": {
                  "value": {
                    "model": "rerank",
                    "query": "查询候选文本A",
                    "top_n": 4,
                    "documents": [
                      "需要打分的候选文本A",
                      "需要打分的候选文本B"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RerankResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/tokenizer": {
      "post": {
        "tags": [
          "模型 API"
        ],
        "summary": "文本分词器",
        "description": "`Tokenizer` 用于将文本切分为模型可识别的 `token` 并计算数量。它接收用户输入的文本，通过模型进行分词处理，最终返回对应的 `token` 数量。适用于文本长度评估、模型输入预估、对话上下文截断、费用计算等。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenizerRequest"
              },
              "examples": {
                "文本分词示例": {
                  "value": {
                    "model": "glm-4.6",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What opportunities and challenges will the Chinese large model industry face in 2025?"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenizerResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/layout_parsing": {
      "post": {
        "tags": [
          "模型 API"
        ],
        "summary": "文档解析",
        "description": "使用 [GLM-OCR](/cn/guide/models/vlm/glm-ocr) 模型解析文档和图片的布局并提取文本内容。支持图片和`PDF`文档的`OCR`识别，返回详细的布局信息和可视化结果。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayoutParsingRequest"
              },
              "examples": {
                "布局解析示例": {
                  "value": {
                    "model": "glm-ocr",
                    "file": "https://cdn.bigmodel.cn/static/logo/introduction.png"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayoutParsingResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/web_search": {
      "post": {
        "tags": [
          "工具 API"
        ],
        "summary": "网络搜索",
        "description": "`Web Search API` 是一个专给大模型用的搜索引擎，在传统搜索引擎网页读取、排序的能力基础上，增强了意图识别能力，返回更适合大模型处理的结果（网页标题、`URL`、摘要、名称、图标等）。支持意图增强检索、结构化输出和多引擎支持。见 [网络搜索服务](/cn/guide/tools/web-search)。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。可能的错误码：1701-网络搜索并发已达上限，请稍后重试或减少并发请求；1702-系统未找到可用的搜索引擎服务，请检查配置或联系管理员；1703-搜索引擎未返回有效数据，请调整查询条件。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/reader": {
      "post": {
        "tags": [
          "工具 API"
        ],
        "summary": "网页阅读",
        "description": "读取并解析指定 `URL` 的网页内容，可选择返回格式、支持控制缓存、图片保留与摘要选项等。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReaderRequest"
              },
              "examples": {
                "Basic": {
                  "value": {
                    "url": "https://www.example.com"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReaderResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/moderations": {
      "post": {
        "tags": [
          "工具 API"
        ],
        "summary": "内容安全",
        "description": "可对文本、图片、音频、视频格式类型的内容进行检测，精准识别涉黄、涉暴、违法违规等风险内容，并输出结构化审核结果（包括内容类型、风险类型及具体风险内容片段），快速定位和处理违规信息。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModerationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModerationResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents": {
      "post": {
        "tags": [
          "Agent API"
        ],
        "summary": "智能体对话",
        "description": "与智能体进行对话交互。支持同步和流式调用，提供智能体的专业能力。见 [智能体文档](/cn/guide/agents/translation)。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/async-result": {
      "post": {
        "tags": [
          "Agent API"
        ],
        "summary": "异步结果",
        "description": "查询智能体异步任务的处理结果和状态。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "async_id",
                  "agent_id"
                ],
                "properties": {
                  "async_id": {
                    "type": "string",
                    "description": "任务ID",
                    "example": "VHJhbnNsYXRvckVudGl0eVRhc2s6OTI5OTY5"
                  },
                  "agent_id": {
                    "type": "string",
                    "description": "智能体ID",
                    "example": "intelligent_education_correction_polling"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentAsyncResultResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/conversation": {
      "post": {
        "tags": [
          "Agent API"
        ],
        "summary": "对话历史",
        "description": "查询智能体对话历史，现仅支持 `slides_glm_agent` 智能体。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GlmSlideAgentConversationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlmSlideAgentConversationResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/files": {
      "post": {
        "tags": [
          "文件 API"
        ],
        "summary": "上传文件",
        "description": "上传用于 `Batch 任务`、`智能体` 等功能的文件。注意 `Try it` 功能仅支持小文件上传，实际支持的文件大小请参见下文 `purpose` 相关说明。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "文件 API"
        ],
        "summary": "文件列表",
        "description": "获取已上传文件的分页列表，支持按用途和排序过滤。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "description": "分页游标",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purpose",
            "in": "query",
            "description": "按用途过滤文件",
            "schema": {
              "type": "string",
              "enum": [
                "batch",
                "code-interpreter",
                "agent"
              ]
            },
            "required": true
          },
          {
            "name": "order",
            "in": "query",
            "description": "排序方式",
            "schema": {
              "type": "string",
              "enum": [
                "created_at"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页返回的文件数量",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileListResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/files/{file_id}": {
      "delete": {
        "tags": [
          "文件 API"
        ],
        "summary": "删除文件",
        "description": "永久删除指定文件及其所有关联数据。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "文件唯一标识符",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDeletedResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/files/{file_id}/content": {
      "get": {
        "tags": [
          "文件 API"
        ],
        "summary": "文件内容",
        "description": "获取文件内容。只支持 `batch` 文件类型。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "被请求的文件的唯一标识符，用于指定要获取内容的特定文件。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功，返回文件字节流。",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/files/parser/create": {
      "post": {
        "tags": [
          "工具 API"
        ],
        "summary": "文件解析",
        "description": "创建文件解析任务，支持多种文件格式和解析工具。见 [文件解析服务](/cn/guide/tools/file-parser)。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "待解析文件"
                  },
                  "tool_type": {
                    "type": "string",
                    "enum": [
                      "lite",
                      "expert",
                      "prime"
                    ],
                    "description": "使用的解析工具类型"
                  },
                  "file_type": {
                    "type": "string",
                    "enum": [
                      "PDF",
                      "DOCX",
                      "DOC",
                      "XLS",
                      "XLSX",
                      "PPT",
                      "PPTX",
                      "PNG",
                      "JPG",
                      "JPEG",
                      "CSV",
                      "TXT",
                      "MD",
                      "HTML",
                      "BMP",
                      "GIF",
                      "WEBP",
                      "HEIC",
                      "EPS",
                      "ICNS",
                      "IM",
                      "PCX",
                      "PPM",
                      "TIFF",
                      "XBM",
                      "HEIF",
                      "JP2"
                    ],
                    "description": "文件类型。Lite支持：pdf,docx,doc,xls,xlsx,ppt,pptx,png,jpg,jpeg,csv,txt,md。Expert支持：pdf。Prime支持：pdf,docx,doc,xls,xlsx,ppt,pptx,png,jpg,jpeg,csv,txt,md,html,bmp,gif,webp,heic,eps,icns,im,pcx,ppm,tiff,xbm,heif,jp2"
                  }
                },
                "required": [
                  "file",
                  "tool_type"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "任务创建成功"
                    },
                    "task_id": {
                      "type": "string",
                      "example": "task_123456789"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/files/parser/result/{taskId}/{format_type}": {
      "get": {
        "tags": [
          "工具 API"
        ],
        "summary": "解析结果",
        "description": "异步获取文件解析任务的结果，支持返回纯文本或下载链接格式。见 [文件解析服务](/cn/guide/tools/file-parser)。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "文件解析任务ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "task_123456789"
            }
          },
          {
            "name": "format_type",
            "in": "path",
            "description": "结果返回格式类型",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "download_link"
              ],
              "example": "text"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "结果获取成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileParseResultResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/files/parser/sync": {
      "post": {
        "tags": [
          "工具 API"
        ],
        "summary": "文件解析(同步)",
        "description": "创建文件解析任务，支持多种文件格式和解析工具。见 [文件解析服务](/cn/guide/tools/file-parser)。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "待解析文件"
                  },
                  "tool_type": {
                    "type": "string",
                    "enum": [
                      "prime-sync"
                    ],
                    "description": "使用的解析工具类型"
                  },
                  "file_type": {
                    "type": "string",
                    "enum": [
                      "WPS",
                      "PDF",
                      "DOCX",
                      "DOC",
                      "XLS",
                      "XLSX",
                      "PPT",
                      "PPTX",
                      "PNG",
                      "JPG",
                      "JPEG",
                      "CSV",
                      "TXT",
                      "MD",
                      "HTML",
                      "BMP",
                      "GIF",
                      "WEBP",
                      "HEIC",
                      "EPS",
                      "ICNS",
                      "IM",
                      "PCX",
                      "PPM",
                      "TIFF",
                      "XBM",
                      "HEIF",
                      "JP2"
                    ],
                    "description": "文件类型支持：pdf,docx,doc,xls,xlsx,ppt,pptx,png,jpg,jpeg,csv,txt,md,html,bmp,gif,webp,heic,eps,icns,im,pcx,ppm,tiff,xbm,heif,jp2"
                  }
                },
                "required": [
                  "file",
                  "tool_type"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "结果获取成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileParseResultResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/files/ocr": {
      "post": {
        "tags": [
          "工具 API"
        ],
        "summary": "OCR 服务",
        "description": "上传图片文件，使用指定工具类型进行 OCR（光学字符识别），支持手写体、文字等识别模式，见 [OCR 服务](/cn/guide/tools/zhipu-ocr)。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "待识别的图片文件（如 JPG、PNG）"
                  },
                  "tool_type": {
                    "type": "string",
                    "enum": [
                      "hand_write"
                    ],
                    "description": "OCR识别工具类型，可选 hand_write（手写体识别）"
                  },
                  "language_type": {
                    "type": "string",
                    "enum": [
                      "CHN_ENG",
                      "AUTO",
                      "ENG",
                      "JAP",
                      "KOR",
                      "FRE",
                      "SPA",
                      "POR",
                      "GER",
                      "ITA",
                      "RUS",
                      "DAN",
                      "DUT",
                      "MAL",
                      "SWE",
                      "IND",
                      "POL",
                      "ROM",
                      "TUR",
                      "GRE",
                      "HUN",
                      "THA",
                      "VIE",
                      "ARA",
                      "HIN"
                    ],
                    "description": "语言/识别模型类型，可选 CHN_ENG等"
                  },
                  "probability": {
                    "type": "boolean",
                    "example": true,
                    "default": false,
                    "description": "是否返回置信度（概率）信息。true 为返回"
                  }
                },
                "required": [
                  "file",
                  "tool_type"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "结果获取成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OCRResultResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/batches": {
      "post": {
        "tags": [
          "批处理 API"
        ],
        "summary": "创建批处理任务",
        "description": "创建一个新的批量处理任务。见 [批量服务](/cn/guide/tools/batch)。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "批处理 API"
        ],
        "summary": "列出批处理任务",
        "description": "获取批量处理任务列表，支持分页。见 [批量服务](/cn/guide/tools/batch)。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "description": "分页游标，用于获取指定ID之后的结果",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "返回结果的最大数量",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchListResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/batches/{batch_id}": {
      "get": {
        "tags": [
          "批处理 API"
        ],
        "summary": "检索批处理任务",
        "description": "根据批处理任务`ID`获取批量处理任务详情。见 [批量服务](/cn/guide/tools/batch)。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "description": "批处理任务的唯一标识符。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功，返回 Batch 对象。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/batches/{batch_id}/cancel": {
      "post": {
        "tags": [
          "批处理 API"
        ],
        "summary": "取消批处理任务",
        "description": "根据批处理任务`ID`取消正在运行的批量处理任务。见 [批量服务](/cn/guide/tools/batch)。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "description": "批处理任务ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/knowledge/retrieve": {
      "post": {
        "tags": [
          "知识库 API"
        ],
        "summary": "知识库检索",
        "description": "用于检索个人知识库，支持向量检索、关键词检索、混合检索，支持自定义重排模型。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeRetrieveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeRetrieveResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      }
    },
    "/zrag/agent/chat": {
      "post": {
        "tags": [
          "Agent API"
        ],
        "summary": "问答 Agent 对话（流式）",
        "description": "基于 ReAct（Reasoning + Acting）推理引擎的流式对话接口。LLM 会根据用户问题自主决定是否调用工具（知识检索、查询重写等），并通过 SSE 实时推送思考过程、工具调用和最终回答。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "X-Session-Id",
            "in": "header",
            "description": "会话 ID，续聊时传入",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentChatRequest"
              },
              "example": {
                "messages": [
                  {
                    "role": "user",
                    "content": "公司的年假制度是什么？"
                  }
                ],
                "model": "glm-5v-turbo",
                "temperature": 0.2,
                "max_steps": 10,
                "retrieval": {
                  "know_ids": [
                    "123"
                  ],
                  "top_k": 8,
                  "top_n": 10,
                  "enable_rerank": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE 流式响应，返回 AgentStreamEvent 事件流",
            "content": {
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStreamEvent"
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      }
    },
    "/zrag/retrieval/retrieve": {
      "post": {
        "tags": [
          "知识库 API"
        ],
        "summary": "全模态知识库检索",
        "description": "用于检索全模态知识库，支持文本、图片、视频等多模态输入检索，支持向量检索、关键词检索、混合检索，支持查询重写、重排、QA干预等高级功能。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZragRetrieveRequest"
              },
              "example": {
                "multimodal": true,
                "knows": [
                  {
                    "id": "1234567890"
                  }
                ],
                "query": "介绍一下小智",
                "multimodal_parts": [
                  {
                    "type": "image_url",
                    "url": "https://example.com/image.png"
                  }
                ],
                "top_k": 8,
                "top_n": 10,
                "recall_method": "mixed",
                "recall_ratio": 0.8,
                "messages": [
                  {
                    "role": "user",
                    "content": "你是谁"
                  },
                  {
                    "role": "assistant",
                    "content": "我是小智，一个智能助手"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZragRetrieveResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/knowledge": {
      "post": {
        "tags": [
          "知识库 API"
        ],
        "summary": "创建知识库",
        "description": "用于创建个人知识库，支持绑定向量化模型、设置名称、描述、背景色和图标。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeCreateResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "知识库 API"
        ],
        "summary": "知识库列表",
        "description": "获取个人知识库列表，支持分页。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码，默认1",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "每页数量，默认10",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeListResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/knowledge/{id}": {
      "put": {
        "tags": [
          "知识库 API"
        ],
        "summary": "编辑知识库",
        "description": "用于编辑已经创建好的个人知识库，仅传入要修改的字段。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "知识库id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeEditRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeEditResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "知识库 API"
        ],
        "summary": "知识库详情",
        "description": "根据知识库`ID`获取个人知识库详情。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "知识库id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeDetailResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "知识库 API"
        ],
        "summary": "删除知识库",
        "description": "根据知识库`ID`删除个人知识库。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "知识库id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeDeleteResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/knowledge/capacity": {
      "get": {
        "tags": [
          "知识库 API"
        ],
        "summary": "知识库使用量",
        "description": "获取个人知识库的使用量详情，包括字数和字节数。点击 **Try it** 按钮可快速试用。",
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeCapacityResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/document": {
      "get": {
        "tags": [
          "知识库 API"
        ],
        "summary": "文档列表",
        "description": "获取指定知识库下的文档列表。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "knowledge_id",
            "in": "query",
            "required": true,
            "description": "知识库id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "页码，默认1",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "每页数量，默认10",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "word",
            "in": "query",
            "required": false,
            "description": "文档名称",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeDocumentListResponse"
                },
                "example": {
                  "data": {
                    "list": [
                      {
                        "id": "12312121212",
                        "knowledge_type": 1,
                        "custom_separator": [
                          "\n"
                        ],
                        "sentence_size": 300,
                        "length": 0,
                        "word_num": 100,
                        "name": "",
                        "url": "",
                        "embedding_stat": 0,
                        "failInfo": {
                          "embedding_code": 10002,
                          "embedding_msg": "字数超出限制"
                        }
                      }
                    ],
                    "total": 1
                  },
                  "code": 200,
                  "message": "请求成功",
                  "timestamp": 1689649504996
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/document/upload_document/{id}": {
      "post": {
        "tags": [
          "知识库 API"
        ],
        "summary": "上传文件文档",
        "description": "向指定知识库上传文件类型文档，支持多种切片方式和回调。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "知识库id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentUploadResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/document/upload_url": {
      "post": {
        "tags": [
          "知识库 API"
        ],
        "summary": "上传URL文档",
        "description": "上传`URL`类型的文档或网页作为内容填充知识库。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadUrlKnowledgeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrlKnowledgeResponse"
                },
                "example": {
                  "data": {
                    "successInfos": [
                      {
                        "documentId": "122121212",
                        "url": "xxx.com"
                      },
                      {
                        "documentId": "12121212121",
                        "url": "xxx.com"
                      }
                    ],
                    "failedInfos": [
                      {
                        "url": "xxx.com",
                        "failReason": "不支持的文档类型"
                      }
                    ]
                  },
                  "code": 200,
                  "message": "请求成功",
                  "timestamp": 1689649504996
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/document/slice/image_list/{id}": {
      "post": {
        "tags": [
          "知识库 API"
        ],
        "summary": "解析文档图片",
        "description": "用于获取文件下解析到的图片序号和图片链接映射关系。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "文档ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeImageListResponse"
                },
                "example": {
                  "data": {
                    "images": [
                      {
                        "text": "【示意图序号_1829473032620613632_103】",
                        "cos_url": "https://cdn.bigmodel.cn/knowledge_pdf_image/de7163a7-c67f-4e33-8810-97a6d5a83378.png"
                      }
                    ]
                  },
                  "code": 200,
                  "message": "请求成功",
                  "timestamp": 1725070689634
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/document/{id}": {
      "get": {
        "tags": [
          "知识库 API"
        ],
        "summary": "文档详情",
        "description": "根据文档`ID`获取文档详情。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "文档id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeDocumentDetailResponse"
                },
                "example": {
                  "data": {
                    "id": "12121212121212",
                    "knowledge_type": 1,
                    "custom_separator": [
                      "\n"
                    ],
                    "sentence_size": 300,
                    "length": 0,
                    "word_num": 100,
                    "name": "",
                    "url": "",
                    "embedding_stat": 0,
                    "failInfo": {
                      "embedding_code": 10002,
                      "embedding_msg": "字数超出限制"
                    }
                  },
                  "code": 200,
                  "message": "请求成功",
                  "timestamp": 1689649504996
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "知识库 API"
        ],
        "summary": "删除文档",
        "description": "根据文档`ID`删除文档。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "文档ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteKnowledgeResponse"
                },
                "example": {
                  "code": 200,
                  "message": "请求成功",
                  "timestamp": 1689649504996
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/document/embedding/{id}": {
      "post": {
        "tags": [
          "知识库 API"
        ],
        "summary": "重新向量化",
        "description": "用于重新向量化文档（重试等操作）。同步返回成功表示调用成功，向量化完成后调用`callback_url`进行通知，也可调用知识详情接口获取结果。多用于`url`知识场景。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "文档ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReEmbeddingRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReEmbeddingResponse"
                },
                "example": {
                  "code": 200,
                  "message": "请求成功",
                  "timestamp": 1689649504996
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/assistant": {
      "post": {
        "tags": [
          "助理 API"
        ],
        "summary": "助手对话",
        "deprecated": true,
        "description": "与`AI`助手进行对话，支持流式和同步模式。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssistantRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssistantResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "流式响应数据"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/assistant/list": {
      "post": {
        "tags": [
          "助理 API"
        ],
        "deprecated": true,
        "summary": "助手列表",
        "description": "查询指定的智能体助手列表信息，包括智能体助手的详细配置、工具和元数据。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssistantListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "msg": {
                      "type": "string",
                      "example": "操作成功"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssistantInfo"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/assistant/conversation/list": {
      "post": {
        "tags": [
          "助理 API"
        ],
        "deprecated": true,
        "summary": "助手会话列表",
        "description": "查询指定智能体助手的会话列表，支持分页查询。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "msg": {
                      "type": "string",
                      "example": "操作成功"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConversationListResponse"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/llm-application/open/v2/application/{app_id}/variables": {
      "get": {
        "tags": [
          "智能体 API（旧）"
        ],
        "deprecated": true,
        "summary": "获取智能体输入参数",
        "description": "获取指定智能体应用的输入参数列表。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "description": "智能体（应用）id，获取位置：我的智能体列表页面",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationVariablesResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/llm-application/open/v2/application/file_upload": {
      "post": {
        "tags": [
          "智能体 API（旧）"
        ],
        "deprecated": true,
        "summary": "文件上传",
        "description": "上传文件到智能体（应用），同步返回上传结果。需通过文件解析状态接口获取解析结果。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "app_id": {
                    "type": "string",
                    "description": "智能体（应用）id"
                  },
                  "upload_unit_id": {
                    "type": "string",
                    "description": "上传文件组件id，文本类必须传，对话类临时文件不传"
                  },
                  "files": {
                    "type": "string",
                    "format": "binary",
                    "description": "支持多文件上传，files 字段可重复出现，每个文件单独作为一个 form-data 字段上传。示例：--form 'files=@\"/path/to/file1\"' --form 'files=@\"/path/to/file2\"'"
                  },
                  "conversation_id": {
                    "type": "string",
                    "description": "对话类型应用上传临时文件时需先通过创建新会话获得会话ID（对话类型上传临时文件时必传，文本类不传）"
                  },
                  "file_type": {
                    "type": "integer",
                    "description": "文件类型 1: excel 2: 文档 3: 音频 4: 图片 5: 视频"
                  }
                },
                "required": [
                  "app_id",
                  "files"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationFileUploadResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/llm-application/open/v2/application/file_stat": {
      "post": {
        "tags": [
          "智能体 API（旧）"
        ],
        "deprecated": true,
        "summary": "获取文件解析状态",
        "description": "获取指定文件的解析状态。点击 **Try it** 按钮可快速试用。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationFileStatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationFileStatResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/llm-application/open/v2/application/{app_id}/conversation": {
      "post": {
        "tags": [
          "智能体 API（旧）"
        ],
        "deprecated": true,
        "summary": "创建新会话",
        "description": "为指定智能体（应用）创建新会话，返回会话`ID`。点击 **Try it** 按钮可快速试用。",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "description": "智能体（应用）id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationConversationResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmApplicationError"
                }
[...]
